@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    
    font-family: 'Staatliches', cursive;
    color: bisque;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    padding-top: 2rem;
    padding-right: 1rem;
}

form>input {
    height: 1rem;
    width: 200px;
    background-color: beige;
    border: none;
    border-radius: 100px;
    padding-left: 8px;
    font-weight: bold;
}

form>button {
    width: 1.5rem;
    height: 1.5rem;
    background: url(./images/search.svg);
    background-size: cover;
    border: none;
    border-radius: 100px;
}

button:hover {
    box-shadow: 0 0 5px 3px beige;
}

#display-weather {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 36px;

}

#place {
    font-size: 2rem;
}

#temp-parent {
    font-size: 4rem;
}

#feels-like-parent {
    font-size: 2rem;
}

#weather-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#weather {
    font-size: 3rem;
    grid-column: 1 / 3;
}

#pressure {
    font-size: 2rem;
}

#humidity {
    font-size: 2rem;
}

footer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dim {
    opacity: 0.5;
}

#celcius:hover,
#farenheit:hover {
    border-radius: 100px;
    font-weight: bolder;
    opacity: 1;
}

#error {
    font-size: 3rem;
    color: red;
}

.selected {
    color: greenyellow;
    font-weight: bolder;
    text-shadow: 0 0 1rem beige;
    opacity: 1;
}

.hidden {
    visibility: hidden;
}

.thunderstorm {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/thunder.webp);
    background-size: cover;
}
.rain{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/rain.webp);
    background-size: cover;
}
.snow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/snow.webp);
    background-size: cover;
}
.atmo {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/fog.webp);
    background-size: cover;
}
.few-clouds {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/few-clouds.webp);
    background-size: cover;
}
.dark-clouds {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/dark-clouds.webp);
    background-size: cover;
}
.clear {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/clear-sky.webp);
    background-size: cover;
}